.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

.Loading-Spinner {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDEDED;
}