.Sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.3s ease;
  overflow: hidden;
  left: -250px;
  width: 250px;

}

@media (min-width: 990px) {

  .Sidebar {
    left: 0;
  }

}