.Lockout {
  color: green !important;
  font-size: 1.2em;
  margin-left: 1em;
  cursor: pointer;
}

.Lockout__icon {
  @extend .fa;
  @extend .fa-lock;
  transition: all 0.1s ease;
}

.Lockout__icon:hover {
  transform: scale(1.2, 1.2) !important;;
  color: darken(green, 5%) !important;
}