
// Body
$body-bg: #f5f8fa;

// Brands
$brand-primary: #41b883;
$brand-secondary: #35495e;
$brand-info: #5bc0de;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;